<app-topheader></app-topheader>
<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="body-text">
    <div class="center-container">
        <h1>Our Service</h1>
      </div>
    <section class="articles">
        <article>
          <div class="article-wrapper">
            <figure>
              <img src="https://cdn.mos.cms.futurecdn.net/ujxQgDWUJ65rPL8Gz6zAbR-360-80.jpg.webp" alt="" />
            </figure>
            <div class="article-body">
              <h2>Protect Your Plants In A Freeze
            </h2>
              <p>
                Curabitur convallis ac quam vitae laoreet. Nulla mauris ante, euismod sed lacus sit amet, congue bibendum eros. Etiam mattis lobortis porta. Vestibulum ultrices iaculis enim imperdiet egestas.
              </p>
            </div>
          </div>
        </article>
        <article>
      
          <div class="article-wrapper">
            <figure>
              <img src="https://cdn.mos.cms.futurecdn.net/Di7mQPuzjoqQ3gqvTzkY96-360-80.jpg.webp" alt="" />
            </figure>
            <div class="article-body">
              <h2>7 Houseplants Not Worth The Hassle</h2>
              <p>
                Curabitur convallis ac quam vitae laoreet. Nulla mauris ante, euismod sed lacus sit amet, congue bibendum eros. Etiam mattis lobortis porta. Vestibulum ultrices iaculis enim imperdiet egestas.
              </p>
            </div>
          </div>
        </article>
        <article>
          <div class="article-wrapper">
            <figure>
              <img src="https://cdn.mos.cms.futurecdn.net/ZDMhEymYXTUbwX6H9sCLN9-360-80.jpg.webp" alt="" />
            </figure>
            <div class="article-body">
              <h2>How To Regrow Scraps and Grocery Store Produce</h2>
              <p>
                Curabitur convallis ac quam vitae laoreet. Nulla mauris ante, euismod sed lacus sit amet, congue bibendum eros. Etiam mattis lobortis porta. Vestibulum ultrices iaculis enim imperdiet egestas.
              </p>
            </div>
          </div>
        </article>
        <article>
          <div class="article-wrapper">
            <figure>
              <img src="https://cdn.mos.cms.futurecdn.net/JCRtQzbRk9FfH4Gth8nXHe-360-80.jpg.webp" alt="" />
            </figure>
            <div class="article-body">
              <h2>Cold Tolerant Indoor Plants</h2>
              <p>
                Curabitur convallis ac quam vitae laoreet. Nulla mauris ante, euismod sed lacus sit amet, congue bibendum eros. Etiam mattis lobortis porta. Vestibulum ultrices iaculis enim imperdiet egestas.
              </p>
            </div>
          </div>
        </article>
        <article>
          <div class="article-wrapper">
            <figure>
              <img src="https://cdn.mos.cms.futurecdn.net/K8s5aSBQ9FRJLsJpnsQgEC-1024-80.jpg.webp" alt="" />
            </figure>
            <div class="article-body">
              <h2>Which Plants You Shouldn’t Prune In Winter</h2>
              <p>
                Curabitur convallis ac quam vitae laoreet. Nulla mauris ante, euismod sed lacus sit amet, congue bibendum eros. Etiam mattis lobortis porta. Vestibulum ultrices iaculis enim imperdiet egestas.
              </p>
            </div>
          </div>
        </article>
        <article>
          <div class="article-wrapper">
            <figure>
              <img src="https://cdn.mos.cms.futurecdn.net/aRUTYczWx9dMdUck2JTVPR-1024-80.jpg.webp" alt="" />
            </figure>
            <div class="article-body">
              <h2>Explore Our Complete Guide To Growing Vegetables</h2>
              <p>
                Curabitur convallis ac quam vitae laoreet. Nulla mauris ante, euismod sed lacus sit amet, congue bibendum eros. Etiam mattis lobortis porta. Vestibulum ultrices iaculis enim imperdiet egestas.
              </p>
            </div>
          </div>
        </article>
      </section>
</div>