<div class="sidebar">
    <nav class="menu" tabindex="0">
        <div class="smartphone-menu-trigger"></div>
        <ul>
        <li tabindex="0" class="list-style" (click)="allProducts()"><span>All Products</span></li>
        <li tabindex="0" class="list-style" (click)="bonsai()"><span>Bonsai</span></li>
        <li tabindex="0" class="list-style" (click)="FlowerSapling()"><span>FlowerSapling</span></li>
        <li tabindex="0" class="list-style" (click)="FruitSapling()"><span>FruitSapling</span></li>
        <li tabindex="0" class="list-style" (click)="OrganicManure()"><span>OrganicManure</span></li>
        <li tabindex="0" class="list-style" (click)="GardeningTools()"><span>GardeningTool</span></li>
        <li tabindex="0" class="list-style" (click)="VegetableSaplings()"><span>VegetableSapling</span></li>
        <li tabindex="0" class="list-style" (click)="FruitSeeds()"><span>FruitSeed</span></li>
        <li tabindex="0" class="list-style" (click)="VegetablesSeeds()"><span>VegetableSeed</span></li>
      </ul>
    </nav>

  </div>